@model RoleViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewData["Departments"] = _departmentRepo;
}
<div>
    <label class="col-form-label" asp-for="RoleName"></label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <span asp-validation-for="RoleName" class="text-danger"></span>
</div>
<div>
    <label class="col-form-label" asp-for="Id"></label>
    <input type="text" asp-for="Id" class="form-control" />
    <span asp-validation-for="Id" class="text-danger"></span>
</div>


