@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayOut.cshtml";
}

<h1>ForgetPassword</h1>

<div class="agileits-top">
	<form asp-action="ForgetPassword" method="post">
		<input class="text email" asp-for="Email" placeholder="Email" required="">
		<div class="wthree-text">
		</div>
		<input type="submit" value="Send Email">
	</form>
	<p>Don't' you have an Account? <a asp-action="SignUp"> Register Now!</a></p>
</div>
@section ValidateSection
{
	@*  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script> *@
	<partial name="_ValidationScriptsPartial"></partial>
}

