@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayOut.cshtml";
}

<h1>ResetPassword</h1>

<div class="main-agileinfo">
	@* 	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	*@	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">
			<input class="text w3lpass" asp-for=Password placeholder="Password" required="">
			<input class="text w3lpass" asp-for=ConfirmPassword placeholder="ConfirmPassword" required="">
			<input type="submit" value="ResetPassword">
		</form>
	</div>
</div>

@section ValidateSection
{
	@*  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script> *@
	<partial name="_ValidationScriptsPartial"></partial>
}

