@model Employee
@{
}

<h1 class="mt-4">Employee Details</h1>
<br />
<br />
<br />

<div>
    <partial name="PartialViews/DeleteDeleteEmployeePartial"></partial>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-5">Edit</a>
    <a asp-action="Index"  class="btn btn-light mt-5">Back List</a>


</div>

